# load Librabry

In [13]:
import pandas as pd
import  os

# Task1: Merg 12 months of data into a single file

In [37]:
## List all the files in one directory
files = [file for file in os.listdir('./Sales_Data/')]

#create a Df to hold the file to be concanted
all_months_data = pd.DataFrame()

#load list and concatinate
for file in files:
    df = pd.read_csv('./Sales_Data/' + file) # priint(file) return list
    all_months_data = pd.concat([all_months_data,df]) # concat the two df
    

#save the concatinated files
all_months_data.to_csv('all_data.csv', index=False)

## Read 12 of data

In [38]:
pd.read_csv('all_data.csv')
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# Clean Up Data

## Drop all NAN rows

In [42]:
# filter the NAN rows
nan_df = all_months_data[all_months_data.isna().any(axis=1)]
nan_df.head()

#Drop the rows
all_months_data = all_months_data.dropna(how='all')
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

## find 'Or' and delete it.

In [51]:
## filter columsn with duplcates 'Or'
#temp_df = all_months_data[all_months_data['Order Date'].str[0:2] == 'Or']
#temp_df.head()

#resetting
all_months_data = all_months_data[all_months_data['Order Date'].str[0:2] != 'Or']

# Augment data with additional columns 

## Task 2: Add month column

In [53]:
## Add column with two input
all_months_data['Month'] = all_months_data['Order Date'].str[0:2]

# covert to intType
all_months_data['Month'] = all_months_data['Month'].astype('int32')

all_months_data.head()

2022-02-28 00:26:14,740 [21924] WARNING  py.warnings:109: [JupyterRequire] C:\Users\SHEDDY~1\AppData\Local\Temp/ipykernel_21924/1309839929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_months_data['Month'] = all_months_data['Order Date'].str[0:2]

2022-02-28 00:26:14,792 [21924] WARNING  py.warnings:109: [JupyterRequire] C:\Users\SHEDDY~1\AppData\Local\Temp/ipykernel_21924/1309839929.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_months_data['Month'] = all_months_data['Month'].astype('int32');

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

# Question 1: what was the best month for sales and How much was earned that Month?