# load Librabry

In [1]:
import pandas as pd
import  os 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Task1: Merg 12 months of data into a single file

In [2]:
## List all the files in one directory
files = [file for file in os.listdir('./Sales_Data/')]

#create a Df to hold the file to be concanted
all_months_data = pd.DataFrame()

#load list and concatinate
for file in files:
    df = pd.read_csv('./Sales_Data/' + file) # priint(file) return list
    all_months_data = pd.concat([all_months_data,df]) # concat the two df
    

#save the concatinated files
all_months_data.to_csv('all_data.csv', index=False)

## Read 12 of data

In [3]:
pd.read_csv('all_data.csv')
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# Clean Up Data

## Drop all NAN rows

In [4]:
# filter the NAN rows
nan_df = all_months_data[all_months_data.isna().any(axis=1)]
nan_df.head()

#Drop the rows
all_months_data = all_months_data.dropna(how='all')
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

## find 'Or' and delete it.

In [5]:
## filter columsn with duplcates 'Or'
#temp_df = all_months_data[all_months_data['Order Date'].str[0:2] == 'Or']
#temp_df.head()

#resetting
all_months_data = all_months_data[all_months_data['Order Date'].str[0:2] != 'Or']

## Convert Columns to the correct type.

In [6]:
#we needed to covert this so we can produce our sales columns Augment data with additional columns below

all_months_data['Quantity Ordered'] = pd.to_numeric(all_months_data['Quantity Ordered']) #make int
all_months_data['Price Each'] = pd.to_numeric(all_months_data['Price Each'])# make flaot
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

# Augment data with additional columns 

## Task 2: Add month column

In [7]:
## Add column taking two input from Ordered date
all_months_data['Month'] = all_months_data['Order Date'].str[0:2]

# covert to intType
all_months_data['Month'] = all_months_data['Month'].astype('int32')

all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

## task 3: Add a sales column

In [8]:
#[Sales] = [Quantity Ordered] * [Price Each]

all_months_data['Sales'] = all_months_data['Quantity Ordered'] * all_months_data['Price Each']
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

# Question 1: what was the best month for sales and How much was earned that Month?

In [35]:
## this can be done with a groupby function and sum them up.
all_months_data.groupby('Month').sum()

       Quantity Ordered  Price Each       Sales
Month
1                 10903  1811768.38  1822256.73
2                 13449  2188884.72  2202022.42
3                 17005  2791207.83  2807100.38
4                 20558  3367671.02  3390670.24
5                 18667  3135125.13  3152606.75
6                 15253  2562025.61  2577802.26
7                 16072  2632539.56  2647775.76
8                 13448  2230345.42  2244467.88
9                 13109  2084992.09  2097560.13
10                22703  3715554.83  3736726.88
11                19798  3180600.68  3199603.20
12                28114  4588415.41  4613443.34